.comment {
	-fx-fill: teal;
}
.keyword {
	-fx-fill: #0000ff;
}
.joiner {
	-fx-fill: #808080;
}
.number {
	-fx-fill: #114411;
}
.func {
	-fx-fill: #ff00ff;
}
.string {
	-fx-fill: #ff0000;
}
.comment {
	-fx-fill: #008000;
}